/**
 * Common styles
 */
body {
  margin: 0;
  font-weight: 300;
  padding-bottom: 56px;
  font-family: "PingFang SC", "Arial", "sans-serif";
}
.clearfix::before, .clearfix::after {
  content: '';
  display: table;
}
.clearfix::before {
  clear: both;
}
kbd {
  padding: 2px 5px;
  text-indent: -2px;
  letter-spacing: 2px;
  color: #EF4444;
}

/**
 * Header
 */
header {
  text-align: center;
}
.page-title {
  margin: 10px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  color: #333;
}
.usage-desc {
  margin: 0 0 15px;
  font-size: 14px;
  color: #999;
}
.conflict-warning:empty {
  display: none;
}
.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.search-bar-wrapper input {
  display: block;
  width: 414px;
  height: 40px;
  padding: 10px 10px 10px 36px;
  font-size: 16px;
  font-weight: lighter;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 40px;
  background: url('../img/icon_search.png') no-repeat 15px 56%/24px;
  -webkit-appearance:none;
  appearance:none;
}
.search-bar-wrapper input:focus {
  border-color: #4990E2;
}
.search-bar-wrapper .btn-export-import {
  align-self: center;
  display: block;
  width: 24px;
  height: 24px;
  background-size: 100%;
  border: none;
  cursor: pointer;
}
.search-bar-wrapper .btn-settings {
  align-self: center;
  display: block;
  width: 24px;
  height: 24px;
  background: url('../img/icon_settings.png') no-repeat;
  background-size: 100%;
  border: none;
  cursor: pointer;
}
.search-bar-wrapper button:hover {
  opacity: .8;
}
.search-bar-wrapper button:active {
  opacity: .9;
}

/**
 * Footer bar
 */
footer {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  height: 56px;
  padding: 0 16px;
  -webkit-user-select: none;
  user-select: none;
  background-color: #fff;
  box-shadow: 0 -8px 24px rgba(0,0,0,.24);
}
footer .status-bar {
  align-self: center;
  height: 30px;
  font-size: 14px;
  color: #EF4444;
  line-height: 24px;
  overflow: hidden;
}
footer .status-bar .status-bar-inner {
  transform: translateY(-30px);
  transition: transform .2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
footer .status-bar p {
  margin: 3px 0;
}
footer .btn-filter-reset {
  margin-bottom: 2px;
  padding: 0 10px;
  height: 24px;
  color: #4990E2;
  border: 1px solid #4990E2;
  border-radius: 3px;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
}
footer .btn-filter-reset:hover {
  color: #fff;
  background-color: #4990E2;
}
footer .btn-filter-reset:active {
  background-color: #3D7AC0;
  border-color: #3D7AC0;
}
footer .conflict-warning {
  position: relative;
  cursor: pointer;
}
footer .conflict-warning:hover {
  opacity: .9;
}
footer .conflict-warning:empty {
  visibility: hidden;
  pointer-events: none;
  cursor: initial;
}
footer .conflict-warning::before {
  content: '';
  display: inline-block;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background: url('../img/icon_warning_gray.png') no-repeat;
  background-size: 100%;
}
footer .conflict-warning::after {
  content: attr(data-count);
  position: absolute;
  top: -2px;
  left: 12px;
  display: inline-block;
  min-width: 14px;
  height: 14px;
  padding: 0 4px;
  line-height: 14px;
  font-size: 10px;
  text-align: center;
  color: #fff;
  background-color: #EF4444;
  border-radius: 14px;
  box-sizing: border-box;
}

/**
 * Overlay menu
 */
.fixed-overlay-menu {
  list-style: none;
  position: fixed;
  z-index: 11;
  margin: 0;
  display: inline-block;
  max-height: 250px;
  padding: 0;
  background-color: #fff;
  border: 5px;
  box-shadow: 0 10px 24px rgba(0,0,0,.24);
  border-radius: 5px;
  overflow: auto;
  transition: visibility .2s, transform .2s cubic-bezier(0.215, 0.61, 0.355, 1);
  visibility: hidden;
  transform: scale(0);
}
.fixed-overlay-menu li {
  position: relative;
  padding: 2px 12px;
  color: #999;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
}
.fixed-overlay-menu li:hover {
  background-color: #fafafa;
}
.fixed-overlay-menu li.disabled {
  color: #ccc;
  pointer-events: none;
}
.fixed-overlay-menu.show {
  visibility: visible;
  transform: scale(1);
}
.fixed-overlay-menu.left-top-menu {
  transform-origin: left top;
}
.fixed-overlay-menu.right-top-menu {
  transform-origin: right top;
}
.fixed-overlay-menu.left-bottom-menu {
  transform-origin: left bottom;
}
.fixed-overlay-menu.right-bottom-menu {
  transform-origin: right bottom;
}

/**
 * Conflict details menu
 */
.conflict-details {
  width: 150px;
}
.conflict-details li {
  padding: 0 5px;
  line-height: 32px;
  color: #333;
  border-bottom: 1px solid #ddd;
  border-top: 0;
  background: url('../img/icon_search.png') no-repeat 93% center;
  background-size: 16px;
}
.conflict-details li:last-child {
  border-bottom: 0;
}
.conflict-details li span {
  float: right;
  margin-right: 24%;
  font-size: 14px;
  color: #888;
}

/**
 * Filtered status
 */
body.filtered footer .status-bar-inner {
  transform: translateY(0);
}
body.filtered #panel-wrapper .plugin-shortcuts-panel,
body.filtered #panel-wrapper .plugin-shortcuts-panel tr {
  display: none;
}
body.filtered #panel-wrapper .plugin-shortcuts-panel.filter-target {
  display: block;
}
body.filtered #panel-wrapper .plugin-shortcuts-panel tr.filter-target {
  display: table-row;
}

/**
 * Plugin group
 */
.plugin-shortcuts-panel {
  margin-bottom: -1px;
  border-top: 1px solid #ddd;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.plugin-shortcuts-panel.collapse {
  max-height: 61px!important;
}
.plugin-shortcuts-panel.collapse h2::before {
  transform: rotate(180deg);
}
.plugin-shortcuts-panel.shortcut-conflict h2 {
  color: #EF4444;
}
.plugin-shortcuts-panel.shortcut-conflict h2::after {
  content: 'x' attr(data-count);
  margin-left: 5px;
  display: inline-block;
  height: 16px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
  line-height: 16px;
  vertical-align: middle;
  background: url('../img/icon_warning.png') no-repeat left center/16px;
}
.plugin-shortcuts-panel h2 {
  position: relative;
  margin: 0;
  padding: 0 24px;
  font-weight: 300;
  font-size: 24px;
  line-height: 60px;
  color: #4990E2;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.plugin-shortcuts-panel h2::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -12px;
  display: block;
  width: 24px;
  height: 24px;
  background: url('../img/icon_arrow.png') no-repeat center center;
  background-size: 100%;
  transition: transform .5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.plugin-shortcuts-panel table {
  width: 100%;
  border-collapse: collapse;
}
.plugin-shortcuts-panel table tr {
  background-color: #fbfbfb;
}
.plugin-shortcuts-panel table tr.shortcut-conflict {
  background-image: linear-gradient(to right, rgba(239,68,68,.12), rgba(239,68,68,0));
  background-attachment: fixed;
}
.plugin-shortcuts-panel table tr.shortcut-conflict td {
  padding-bottom: 2px;
  border-bottom: 0;
}
.plugin-shortcuts-panel table tr.shortcut-conflict td:first-child {
  position: relative;
}
.plugin-shortcuts-panel table tr.shortcut-conflict td:first-child::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 2px;
  background-image: linear-gradient(to right, rgba(239, 68, 68, 1), rgba(248, 121, 121, 0));
}
.plugin-shortcuts-panel table td {
  height: 48px;
  font-size: 15px;
  line-height: 1.4;
  vertical-align: middle;
  color: #666;
  border-bottom: 1px solid #ddd;
}
.plugin-shortcuts-panel table td:first-child {
  width: 30px;
  border-bottom-color: transparent;
}
.plugin-shortcuts-panel table td:last-child {
  width: 150px;
}
.plugin-shortcuts-panel table input {
  width: 92px;
  height: 28px;
  padding: 0 10px;
  font-size: 14px;
  color: #666;
  text-indent: -1px;
  letter-spacing: 1px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: 0 0 0 10px rgba(0,153,255,0);
  outline: none;
}
.plugin-shortcuts-panel table input:focus {
  cursor: initial;
  transition: border-color .2s, box-shadow .4s;
  border-color: #4990E2;
  box-shadow: 0 0 0 3px rgba(0,153,255,.3);
}
.plugin-shortcuts-panel table tr.shortcut-conflict input:focus {
  border-color: #ef4444;
  box-shadow: 0 0 0 3px rgba(239,68,68,.3);
}
.plugin-shortcuts-panel table input:invalid + .btn-clear {
  display: none;
}
.plugin-shortcuts-panel table input:valid {
  font-family: monospace;
}
.plugin-shortcuts-panel table .btn-clear {
  margin: 0 10px;
  width: 24px;
  height: 24px;
  background: url('../img/icon_clear.png') no-repeat;
  background-size: 18px;
  background-position: center center;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
}
.plugin-shortcuts-panel table .btn-clear:hover {
  opacity: .8;
}
.plugin-shortcuts-panel table .btn-clear:active {
  opacity: .6;
}
.empty-tips {
  display: none;
  margin: 80px 0 20px;
  height: 20px;
  padding-top: 97px;
  color: #bbb;
  line-height: 20px;
  text-align: center;
  background: url('../img/empty_tips.png') center 0/77px no-repeat;
}
.filtered-empty .empty-tips {
  display: block;
}
